:root{/* 
    --color1: #1b325f;
    --color2: #9cc4e4;
    --color3: #e9f2f9;
    --color4: #3a89c0;
    --color5: #f26c4f; */
    --white: #f7f7f7;
    --blue1: #94BFD1;
    --blue2: #75E8E5;
    --blue3: #365662;
    --blue4: #153B4B;
    --blue5: #E6F6FF;
    --hover: #416b7a;
    --letter: #02050A;
    --shadow: #42a19e;
    --extra: #a6d6ea;
  }
  
  
  * {
    font-family: "Mulish", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .asiChat {
    
    width: 463px;
    padding: 10px;
    display: flex;
    justify-content: initial;
    flex-direction: column;
  }

  .asiPrincipal {
        display: grid;
        grid-template-areas: 
        'side contenido contenido'
        'side contenido contenido' 
        'foot foot foot';
        gap: 0px;
        height: 100%;
        width: max-content;
        border-radius: 10px;
        border: 1px solid var(--blue2);
  }

  .asiPrincipalGeneral {
    display: grid;
    grid-template-areas: 
    'side contenido contenido'
    'side contenido contenido' 
    'foot foot foot';
    gap: 0px;
    height: 100%;
    width: 100%;/* 
    border-radius: 10px;
    border: 1px solid var(--blue2); */
    padding-top: 102px;
    min-height: 100vh;
}

  .artChat {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .artChatGeneral {
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .mensajesPadreGeneral {
    background-color: var(--blue5);
      width: 1000px;
      height: 520px;
      margin-bottom: 10px;
      overflow-y: scroll;
      overflow: auto;
      border-radius: 10px;
      border: 1px solid var(--blue2);
  }

.mensajesPadre {
  background-color: var(--blue5);
    width: 500px;
    height: 530px;
    max-height: 270px;
    margin-bottom: 10px;
    overflow-y: scroll;
    overflow: auto;
    border-radius: 10px;
    border: 1px solid var(--blue2);
}

.alertPDF {
  max-width: 500px;
  overflow: auto;
  margin-top: 10px;
  text-align: center;
}

.alertPDF::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
  }
  
  .alertPDF::-webkit-scrollbar-track {
  background: var(--blue1);
  border-radius: 10px;
  }
  
  .alertPDF::-webkit-scrollbar-thumb {
  background-color: var(--blue2);
  border-radius: 20px;
  border: 4px solid var(--blue3);
  }

  .mensajes {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: -18px;
  }

  .mensajesPadre::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
    }
    
    .mensajesPadre::-webkit-scrollbar-track {
    background: var(--blue1);
    border-radius: 10px;
    }
    
    .mensajesPadre::-webkit-scrollbar-thumb {
    background-color: var(--blue2);
    border-radius: 20px;
    border: 4px solid var(--blue3);
    }

    .mensajesPadreGeneral::-webkit-scrollbar {
      width: 12px; /* width of the entire scrollbar */
      }
      
      .mensajesPadreGeneral::-webkit-scrollbar-track {
      background: var(--blue1);
      border-radius: 10px;
      }
      
      .mensajesPadreGeneral::-webkit-scrollbar-thumb {
      background-color: var(--blue2);
      border-radius: 20px;
      border: 4px solid var(--blue3);
      }

    .menChat {
      background-color: var(--blue3);
      color: var(--white);
      border-radius: 15px;
      max-width: 350px;
      padding: 5px;
      width: fit-content;
    }

    .menChatUser {
      background-color: var(--extra);
      color: var(--letter);
      border-radius: 15px;
      max-width: 350px;
      padding: 5px;
      width: fit-content;
    }

    .usuariosChat {
      /* background-color: var(--white); */
        width: 400px;
        height: 560px;
        overflow-y: scroll;
        overflow: auto;
        border-radius: 10px;
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: auto;
    }

    .usuariosChat::-webkit-scrollbar {
      width: 12px; /* width of the entire scrollbar */
      }
      
      .usuariosChat::-webkit-scrollbar-track {
      background: var(--blue1);
      border-radius: 10px;
      }
      
      .usuariosChat::-webkit-scrollbar-thumb {
      background-color: var(--blue2);
      border-radius: 20px;
      border: 4px solid var(--blue3);
      }

    .btnChat {
      background-color: transparent;
      border: none;
      width: 100%;
      text-align: start;
    }

    .hoverChat:hover {
      background-color: var(--white);
      border-radius: 10px;
      border: 1px solid var(--blue2);
    }