

  .ContainerIni {
    background: transparent;
    width: 950px;
    height: 100%;
    color: #cb8fd6;
    display: grid;
    place-content: center;
  }

  .Form-Ini {
    justify-content: space-between;
    background: #f7f7f7;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
    text-align: center;
    outline-style: ridge;
    outline-color: #bfb8b4;
    width: 700px;
    display: grid;
    place-content: center;
    padding-bottom: 40px;
    color: black;
  }

  .secPagination {
    display: grid;
    place-content: center;
  }
  
  .ulPagination {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.50rem 0.75rem;
    border-radius: 0.5rem;
    background-color: #365662;
  }
  
  .liPagination {
    margin: 0.25rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    color: #f7f7f7;
  }
  
  .aPagination {
    text-decoration: none;
  }
  
  .aPagination:hover {
    text-decoration: none;
  }
  
  .aPagination .liPagination {
    background-color: #153B4B;
    border: 1px solid #75E8E5;
  }
  
  .aPagination:hover .liPagination {
    border-color: #E6f6ff;
    color: #75E8E5;
  }
  
  .aPagination.active .liPagination {
    background: #E6f6ff;
    color: #153B4B;
    border-color: #153B4B;
    box-shadow: 0 0.10rem 0.75rem #E6f6ff;
  }
