* {
  font-family: "Mulish", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #7047a2;
}

body::-webkit-scrollbar-thumb {
  background-color: #dfbee5;
  border-radius: 20px;
  border: 3px solid #cf30c5;
}

.navbar {
  display: flex;
  margin-top: 42px;
  height: 80px;
  width: 1920px;
  background-color: #402c50;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  z-index: 5;
}

.burger {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.15);
  margin: 0px 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #f7f7f7;
}

.image-logo {
  width: 13rem;
}

.section-header {
  background-color: #7047a2;
  z-index: 1;
}

.image {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 450px;
}

.image-carousel {
  display: grid;
  place-content: center;
  width: 1580px;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 45px;
}

.carousel {
  color: #f7f7f7;
  font-family: "Mulish";
}

.carousel-style {
  border: 1px solid #e211cc;
  height: 505px;
  width: 1580px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #402c50,
             -5px -5px 10px #7047a2;
}

.buscador-div {
  display: flex;
  align-items: center;
  height: 45px;
  width: 800;
  border-radius: 30px;
  padding: 0px 0px;
}

.buscador {
  display: flex;
  align-items: center;
  height: 45px;
  width: 950px;
  background-color: hsla(0, 0%, 100%, 0.15);
  border-radius: 30px;
  padding: 0px 4px;
}

.cuenta {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: hsla(0, 0%, 100%, 0.15);
  margin: 0px 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 30px;
  color: #f7f7f7;
  margin-left: -70px;
}

.button-cuenta {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  background-color: hsla(0, 0%, 100%, 0.15);
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 30px;
  color: #f7f7f7;
  margin-left: -50px;
}

.section-lastProduct-tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  float: left;
  position: absolute;
  width: 279px;
  height: 50px;
  text-shadow: 0 2px 2px #dfbee5;
  background-color: #7047a2;
  z-index: 1;
}

.section-lastProduct-tittle p {
  color: #f7f7f7;
  font-size: larger;
}

.section-lastProduct {
  display: flex;
  align-items: center;
  float: left;
  position: absolute;
  width: 279px;
  height: 2237px;
  background-color: #7047a2;
  margin-top: 47px;
  z-index: 1;
  flex-direction: column;
}

.section {
  height: 2500px;
}

.canvas {
  background-color: #402c50;
  color: #f7f7f7;
  padding-top: 50px;
}

.div-principal {
  padding-top: 121px;
  display: flex;
  flex-direction: row;
  height: 2455px;
  margin-left: -3px;
}

.div-imagenes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  width: 30rem;
  display: grid;
  margin-left: 21px;
  margin-top: 7px;
  margin-bottom: 7px;
  border: 1px solid #e211cc;
  border-radius: 10px;
  background-color: #dfbee5;
  place-content: center;
}

.card:hover {
  box-shadow: 2px 2px 8px 1px #402c50;
  border-radius: 10px;
}

.card-container {
  border-radius: 10px;
  border: 1px solid #e211cc;
  width: 30rem;
  height: 312px;
  background-color: #f7f7f7;
  padding-left: 0px;
  padding-right: 0px;

}

.card-image {
  height: calc(100% - 0px);
  object-fit: contain;
  border-radius: 10px;
}


/* New product */
.card-newProduct {
  width: 17rem;
  display: flex;
  margin-left: 3px;
  margin-top: 8px;
  margin-bottom: 40px;
  border: 1px solid #e211cc;
  background-color: #dfbee5;
}

.card-newProduct:hover {
  box-shadow: 0px 0px 0px 0px #402c50;
}

.card-image-new {
  height: calc(100% - 0px);
  object-fit: contain;
  border-radius: 10px;
}

.card-container-new {
  border-radius: 10px;
  border: 1px solid #e211cc;
  width: 270px;
  height: 177px;
  background-color: #f7f7f7;
  padding-left: 0px;
  padding-right: 0px;

}



.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.card-title {
  font-weight: 800;
  font-size: 25;
}

.card-medium {
  font-weight: normal;
  font-size: 16;
}

/* Apartado de promociones */
.promo {
  background-color: #cb8fd6;
  border-radius: 10px;
  padding: 5px 5px;
  width: 1580px;
  height: 215px;
  margin: auto;
}

/* Disenio del apartado de categorias */
/* Slider de checkbox */
.checkbox-apple {
  position: relative;
  width: 50px;
  height: 25px;
  margin: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-apple label {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #dfbee5, #f7f7f7);
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkbox-apple label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #402c50;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.checkbox-apple input[type="checkbox"]:checked + label {
  background: linear-gradient(to bottom, #95289b, #cf30c5);
}

.checkbox-apple input[type="checkbox"]:checked + label:after {
  transform: translateX(25px);
}

.checkbox-apple label:hover:after {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.yep {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
}

.checkbox {
  border: 1px solid #e211cc;
  border-radius: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #dfbee5;
  color: #0d0d0d;
  margin-top: 25px;
  margin-bottom: 20px;
}

.checkbox p {
  font-size: 18px;
  margin-top: 17px;
}

.formCategory {
  display: grid;
  place-content: center;
  background: #cb8fd6;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -15px;
  padding: 20px;
  box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
  text-align: center;
  outline-style: ridge;
  outline-color: #bfb8b4;
}
  
/* Boton categoria */
.btn {
  width: 276px;
  height: 50px;
  padding-left: 50px;
  margin-left: 3px;
  border-radius: 20px;
  border: 2px solid #e211cc;
  transition: all 0.5s ease-in-out;
  font-size: larger;
  display: flex;
  align-items: center;
  text-shadow: 0 2px 2px rgb(120, 69, 168);
  background-color: #95289b;
  color: #f7f7f7;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
  background-color: #95289b;
  border: 2px solid #e211cc;
}

.btn .icon {
  position: absolute;
  height: 50px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}

/* Boton Buscar */
.btnBuscar {
  width: 90px;
  height: 45px;
  border-radius: 20px;
  border: 2px solid #e211cc;
  transition: all 0.5s ease-in-out;
  font-size: 25;
  display: flex;
  align-items: center;
  text-shadow: 0 2px 2px rgb(120, 69, 168);
  background-color: #95289b;
  color: #f7f7f7;
  margin-left: 5px;
}

.btnBuscar:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
  background-color: #95289b;
}

.btnBuscar .iconBuscar {
  position: absolute;
  height: 30px;
  width: 50px;
  display: flex;
  transition: all 0.5s;
  margin-left: -8px;
}

.btnBuscar .textBuscar {
  transform: translateX(30px);
}

.btnBuscar:hover .iconBuscar {
  width: 105px;
}

.btnBuscar:hover .textBuscar {
  transition: all 0.5s;
  opacity: 0;
}

.btnBuscar:focus {
  outline: none;
}

.btnBuscar:active .iconBuscar {
  transform: scale(0.85);
}

/* Boton de registrarse y login */
.regis {
  --glow-color: rgb(228, 205, 250);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: #7047a2;
  border: 1px solid var(--glow-color);
  padding: .40em 1em;
  color: var(--glow-color);
  font-size: larger;
  background-color: var(--btn-color);
  border-radius: 30px;
  outline: none;
  box-shadow: 0 0 .3em .08em var(--glow-color),
         0 0 .75em .3em var(--glow-spread-color),
         inset 0 0 .15em .08em var(--glow-color);
  text-shadow: 0 0 .75em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  margin-left: 10px;
 }
 
 .regis::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 .regis:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 .2em .10em var(--glow-color),
         0 0 1em .5em var(--glow-spread-color),
         inset 0 0 .25em .10em var(--glow-color);
 }
 
 .regis:active {
  box-shadow: 0 0 0.2em .10em var(--glow-color),
         0 0 .75em .5em var(--glow-spread-color),
         inset 0 0 .2em .10em var(--glow-color);
 }

 /* Boton ver Productos */
.buttonProducto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 130px;
  background-image: linear-gradient(90deg, #95289b, rgb(120, 69, 168));
  border-radius: 30px;
  border: none;
  margin-left: 8px;
  text-shadow: 0 2px 2px rgb(120, 69, 168);
}

    .buttonProducto:hover {
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        background: rgb(120, 69, 168);
    }

    .box {
        width: 355px;
        height: 45px;
        transition: .5s linear;
        position: relative;
        display: grid;
        place-content: center;
        overflow: hidden;
        padding: 5px;
        text-align: center;
        background: transparent;
        border-radius: 30px;
    }
    
    .box:before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 4px;
        width: 100%;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
        box-sizing: border-box;
        transform: translateX(100%);
        border-radius: 30px;
    }
    
    .box:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        box-sizing: border-box;
        transform: translateX(-100%);
        border-radius: 30px;
    }
    
    .box:hover {
        box-shadow: 0 5px 15px #e211cc;
    }
    
    .box:hover:before {
        border-color: #e211cc;
        height: 100%;
        transform: translateX(0);
        transition: .3s transform linear, .3s height linear .3s;
    }
    
    .box:hover:after {
        border-color: #e211cc;
        height: 100%;
        transform: translateX(0);
        transition: .3s transform linear, .3s height linear .5s;
    }

/* Letras de ya sigues las redes*/
.letterHeader {
  color: #f7f7f7;
  font-size: larger;
  margin-right: auto;
  margin-left: 15px;
}

.letterLightHeader {
  color: #f7f7f7;
  font-size: medium;
  margin-right: auto;
  margin-left: -340px;
  font-weight: lighter;
}

/* Disenio de las redes sociales */
.top-header {
  height: 42px;
  width: 1920px;
  background-color: #7047a2;
  position: fixed; /* Fija aun cuando hacemos scroll */
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 5;
  padding-right: 25px;
}

.ulRedes {
  position: relative;
  display: flex;
  gap: 25px;
  margin-top: 15px;
}

.ulRedes .liRedes {
  position: relative;
  list-style: none;
  width: 50px;
  height: 50px;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  border: 2px solid #cf30c5;
  box-shadow: 0 20px 50px #95289b;
}

.ulRedes .liRedes:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.ulRedes .liRedes::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(45deg, #95289b, #cf30c5);
  opacity: 0;
  transition: 0.5s;
}

.ulRedes .liRedes:hover::before {
  opacity: 1;
}

.ulRedes .liRedesi::after {
  content: "";
  position: absolute;
  inset: 0;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, #95289b, #cf30c5);
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
  filter: blur(15px);

}

.ulRedes .liRedes:hover::after {
  opacity: 0;
}

.ulRedes .liRedes .i {
  color: #f7f7f7;
  font-size: 1.75em !important;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.ulRedes .liRedes:hover .i {
  transform: scale(0);
  font-size: 1.75em;
  font-weight: bold;
  transition-delay: 0.25s;
}

.ulRedes .liRedes .redes {
  position: absolute;
}

.ulRedes .liRedes .titulo {
  color: #f7f7f7;
  font-size: 1.1em !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.ulRedes .liRedes:hover .titulo {
  transform: scale(1);
  color: #f7f7f7;
  transition-delay: 0.25s;
  font-weight: bold;
}

/* Footer */
.top-footer {
  height: 32px;
  width: 1908px;
  background-color: #7047a2;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 15px;
}

.navbar-footer {
  display: flex;
  height: 80px;
  width: 1908px;
  background-color: #402c50;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f7f7f7;
}

.letterLightFooter {
  color: #f7f7f7;
  font-size: medium;
  margin-right: 15px;
}

.buttonFooter {
  background-color: transparent;
  border: none;
  color: #f7f7f7;
}

.buttonFooter:hover {
  color: #dfbee5;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  height: 98px;
  width: 1631px;
}

.secPagination {
  display: grid;
  place-content: center;
}

.ulPagination {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.50rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #7047a2;
}

.liPagination {
  margin: 0.25rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: #f7f7f7;
}

.aPagination {
  text-decoration: none;
}

.aPagination:hover {
  text-decoration: none;
}

.aPagination .liPagination {
  background-color: #402c50;
  border: 1px solid #e211cc;
}

.aPagination:hover .liPagination {
  border-color: #cb8fd6;
  color: #e211cc;
}

.aPagination.active .liPagination {
  background: #cb8fd6;
  color: #402c50;
  border-color: #402c50;
  box-shadow: 0 0.10rem 0.75rem #cb8fd6;
}